# week_02

### Ch.02 - Variables

#### 자료형 변환

In [2]:
a = 1 #int

print(float(a), type(float(a))) #int > float
print(str(a), type(str(a))) #int > str
print(bool(a), type(bool(a))) #int > bool / bool 자료형의 경우 비어있으면 False(ex.0,

1.0 <class 'float'>
1 <class 'str'>
True <class 'bool'>

In [11]:
# float > int 로 변환할 때, 소수점은 제거됨

a = 1.5

print(int(a))

1

In [13]:
# str > int, float 로 변환할 때, str에 소수점이 존재한다면 float로 받아야 한다.

a = "1.5"
float(a)

1.5

In [5]:
float(a)

1.5

In [14]:
# 자료형 변환의 시점에에 따라 결과값이 달라질 수 있음

x = 3.8
y = 5.5

print(int(x) + int(y))
print(int(x + y))

8
9

### Print 함수에 대한 Tip

- print: 값을 출력하는 함수
- 괄호 안의 요소들은 기본적으로 띄어 짐
- print 함수에서 여러 요소들을 출력하는 다양한 방법
  - '+'로 연결
  - 'sep', 'end' 사용

In [16]:
print('apple', 'orange', 'banana') #print 함수의 기본값(default)
print('peach')

apple orange banana
peach

In [17]:
# 라인이 짧아 여러 라인을 한 라인에 넣고 싶을 경우: ';' 사용
bread = 'bread'; water = 'water'; rice = 'rice'
print(bread, water, rice, sep=' ', end='\n')

bread water rice

### input()
  - console에서 사용자에게 값을 입력 받는 함수
  - 입력 받는 값의 타입은 문자열(str)

In [21]:
# 괄호 안에 문자열을 넣으면 출력 후 사용자에게 입력값을 받는다.
input("what`s your name?")

what`s your name? Junsu

'Junsu'

In [22]:
# input을 str 외의 다른 타입으로 사용하고 싶을 경우에는 input 함수의 자료형을 변환한다.
age = int(input("How old are you?"))
print(type(age))

How old are you? 26

<class 'int'>

### printing의 가독성을 높이는 방법

In [25]:
age = int(input("How old are you?"))
print('당신이 태어난 해는', 2022 - age + 1, '년입니다!')

# `print(f'{변수}')`
print(f'당신이 태어난 해는 {2022 - age + 1}년입니다!')

birth_year = 2022 - age + 1
print(f'당신이 태어난 해는 {birth_year}년입니다!')

How old are you? 26

당신이 태어난 해는 1997 년입니다!
당신이 태어난 해는 1997년입니다!
당신이 태어난 해는 1997년입니다!

### Quiz 1
  - 택배 정보를 입력 받고 무게에 따른 값 산정하기
    - 수취인 성명:
    - 수취인 주소:
    - 배송비:3000원
    - 물건 비용:<계산된 값>원
    - 총계: <계산된 값>원
  - 물건 비용은 무게(g) * 5
  - 입력 값 = 이름, 주소, 무게

In [26]:
print('이름')
name = str(input())

print('주소')
adress = str(input()) #교수님 피드백: `str` 생략 가능

print('무게(g)')
gram = float(input())

이름

 홍준수

주소

 휘경로

무게(g)

 500

In [27]:
delivery_charge = 3000
weight_charge = gram * 5
total_charge = int(delivery_charge + weight_charge)

In [28]:
print(f'수취인 성명: {name}')
print(f'수취인 주소: {adress}')
print(f'배송비: {delivery_charge}원')
print(f'물건 비용: {weight_charge}원')
print(f'총 합계: {total_charge}원')

수취인 성명: 홍준수
수취인 주소: 휘경로
배송비: 3000원
물건 비용: 2500.0원
총 합계: 5500원

### Ch.03 - Numbers

##### boolean
  - Ture 혹은 False의 논리값
  - False인 경우
    - 0
    - blank
  - if문(조건문)

In [30]:
print(bool(19))
print(bool('홍준수'))

print(bool(0))
print(bool(''))
print(bool(None))

True
True
False
False
False

## integer

형식: 요소, 연산자, 요소

  - 더하기: +
  - 빼기: -
  - 곱하기: *
  - 나누기: /
  
  - 거듭제곱: **
  
  - 나누기(몫): //
  - 나누기(나머지): %

In [31]:
x = 9
y = 3

print(x + y)
print(x - y)
print(x * y)
print(x / y)

print(x ** y)
print(x // y)
print(x % y)

12
6
27
3.0
729
3
0

In [32]:
#몫과 나머지를 한번에 구하는 방법

divmod(x, y)
#출력: (몫, 나머지)

(3, 0)

In [33]:
# 나누는 수가 0이 되지 않도록 유의

#### 비교연산자
  - x < y
  - x > y
  - x >= y
  - x <= y
  - x == y
  - x != y
  - x is y(값, 메모리 주소)
  - x is not y

### 복합 대입 연산자 \ compound assignment operator
  - 형식 1: 요소 = 요소, 연산자, 요소
  - 형식 2: 요소, 연산자=, 요소

처리 과정

  - 1. 우변 계산값을 임시 변수에 할당
  - 2. 임시 변수의 값을 좌변에 할당
  - ex) x = x -2
      - 1. temp = x - 2
      - 2. x = temp

In [37]:
x = 9
x = x + 2
print(x)

x = 9
x += 2
print(x)

11
11

### Quiz 1.
  - 반지름을 입력 받아서 원의 면적 구하기
  - 면적 = pi*r**

In [40]:
pi = 3.14 # Prof: `pi` 값도 변수로 받기
radius = float(input('반지름: ')) # Prof: `r`이 아닌 의미가 있는 변수명으로 지정
area = pi * (radius ** 2)

print(area)

반지름:  20

1256.0

### Quiz 2.
  - 2-1. 숫자를 입력 받고 3의 배수인지 확인하기
  - 2-2. 숫자를 입력 받고 홀수인지 확인하기

In [42]:
# 2-1.

number = float(input('숫자를 입력하세요: '))
bool(number % 3 == 0)

숫자를 입력하세요:  14

False

In [43]:
# 2-2.

number = float(input('숫자를 입력하세요: '))
bool(number % 2 != 0)

숫자를 입력하세요:  8

False

### 지수 표현
  - 예시: 1.0e-4
  - e의 앞 부분은 소수, 정수 모두 가능
  - 뒷 부븐은 정수여야만 함
  - 뒷 부분이 음수면 소수점 자리수를 의미함
  - e, E모두 사용 가능

In [45]:
1.0e-4

0.0001

In [46]:
# `0.0004005`를 지수로 표현하기

print(4005e-7)
print(4.005e-4)

0.0004005
0.0004005

### if 조건문
  - if <조건식>:
        <실행할 코드>
  - 조건문이 두 개라면: if, else
  - 조건문이 세 개 이상이라면: if, elif, ..., else

In [48]:
# 조건문이 1개

if 3 != 1:
    print("두 수는 같지 않다")

두 수는 같지 않다

In [49]:
# 조건문이 2개
if 3 != 1:
    print("두 수는 같지 않다")
else:
    print("두 수가 같다")

두 수는 같지 않다

In [50]:
# 조건문이 3개

a = 4

if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

### 코드를 짜는 팁

 - 주석을 달기
   
   - '#' hash, sharp, ...
   - '#' 시작 지점부터 라인 끝까지가 주석 처리됨, 라인이 바뀌면 코드로 인식
   - """ """
   - 문자열 안의 sharp는 부호로 인식한다.
   - Reason: 코드에 대한 설명은 최대한 하지 않는다. 의도를 나타내기 위함이거나, 오류가 있거나..
   
 - 라인 유지하기
 
   - 들여쓰기(default space 4개, Tab을 이용)
   - 논리 구조를 나타내기 때문에 굉장히 중요
   - 한 라인에 80자 정도(백슬래시로 라인을 끊어준다.)

### Quiz 1

  - 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False 반환하기

In [51]:
score = float(input("시험 점수를 입력하세요: "))

if score >= 80:
    print(True)
else:
    print(False)

시험 점수를 입력하세요:  77

False

### Quiz 2

  - 시험 점수를 입력 받고, 95 이상 A+, 90 이상 A, 85 이상 B+, 나머지를 F로 출력하기

In [52]:
score = float(input("시험 점수를 입력하세요: "))

if score >= 95:
    print('A+')
elif score < 95 and score >= 90:
    print('A')
elif score < 90 and score >= 85:
    print('B+')
else:
    print('F')

시험 점수를 입력하세요:  100

A+